:root {
  --bg-color: #F1FAEE;
  --red-color: #E63946;
  --light-blue-color: #A8DADC;
  --medium-blue-color: #457B9D;
  --dark-blue-color: #1D3557;
}

.cfb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */